
.row {
    width: 70%;
    height: 100%;
    /* background-color: #00a2d4; */
    position: relative;
    top: 29%;
    /* left: 10%; */
    margin: auto;
}
.fileToUpload{
    /*width: 100%;*/
    /*height: 100%;*/
    border-radius: 5px;
    border: 1px solid black;
}
.uploadFile{
    width: 36%;
    height: 100%;
    /*background-color: red;*/
    border: solid 1px gray;
    border-radius: 10px;
    float: left;
}
.upload{
    width: 100%;
    height: 100%;
}
.fileUpload {
    /*padding-left: 10px;*/
    width: 12%;
    height: 100%;
    position: relative;
    left: 10px;
    top: 4%;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    background-color: #0095DD;
    /*margin: 10px;*/
    float: left;
}

.fileUpload input.upload {  position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    border: solid 1px black;
    opacity: 0;
    text-align: center;
    background-color: #00a2d4;
    filter: alpha(opacity=0);
}
.progressNumber{
    position: relative;
    width: 5%;
    height: 90%;
    left: 2%;
    top: 19%;
    float: left;
}
.tex{
    color: white;
   position: relative;
    font-size: 100%;
    top: 17%;
    /*padding-left: ;*/
}
.form1{
    width: 100%;
    height: 100%;
}
.name {
    width: 13%;
    float: left;
    position: relative;
    top: 16%;
    font-size: 13px;
    font-weight: bold;
}
.info2{
    width: 100%;
    height: 5%;
}
#list {
    float: left;
    width: 17%;
    height: 100%;
    padding-right: 3%;
}
.select{
    width: 100%;
    text-align: center;
    height: 100%;
    border: none;
    border: 1px gray solid;
    border-radius: 5px;
}

#findtipdiv {
	float: left;
	position: relative;
	top: -59%;
	left: 11%;
	background-color: rgba(125, 106, 92, 0.33);
	width: 5%;
	height: 93%;
	border-radius: 5px;
	cursor: pointer;
}
#findimage {
	width: 51%;
	height: 100%;
	float: left;
	position: relative;
	top: 2%;
}
#findtip {
	position: relative;
	top: 11%;
	left: 4%;
	font-size: 18px;
	color: #f0ff00;
}